<div class="container">
  <app-filter (filterChange)="filterUsers($event)"></app-filter>

  <table class="table">
    <thead class="table__header">
      <tr>
        <th class="table__header__column" *ngFor="let header of headers">
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr *ngFor="let user of getUsersPerPage()">
        <td class="table__body__column">{{ user.id }}</td>
        <td class="table__body__column">{{ user.name }}</td>
        <td class="table__body__column">{{ user.username }}</td>
        <td class="table__body__column">{{ user.email }}</td>
        <td class="table__body__column">{{ user.website }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [page]="page"
    [hasNextPage]="hasNextPage()"
    [hasPreviousPage]="hasPreviousPage()"
    (pageChange)="onChangePage($event)"
  ></app-pagination>
</div>
